<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    colors="true" verbose="true" stopOnFailure="false"
    bootstrap="phpunit.php">

    <!--
        Todos os endereços de arquivos e diretórios são relativos ao
        diretório no qual o PHP unit foi iniciado, ou aquele onde está
        o arquivo de configuração "phpunit.xml".
    -->

    <testsuites>
        <testsuite name="AeonDigital-PHP-Core">
            <!--
                Defina aqui cada arquivo de testes que será utilizado.
            -->
            <file>src/global_functionsTests.php</file>
            <file>src/Objects/RealtypeTests.php</file>
            <file>src/Objects/ToolsTests.php</file>
            <file>src/Objects/Traits/MainCheckArgumentExceptionTest.php</file>

            <file>src/Objects/Tools/ImageTests.php</file>
            <file>src/Objects/Tools/JSONTests.php</file>
            <file>src/Objects/Tools/MinifyCSSTest.php</file>
            <file>src/Objects/Tools/MinifyJSTest.php</file>
            <file>src/Objects/Tools/ZipTest.php</file>


            <file>src/Objects/Standart/stdGenericTest.php</file>
            <file>src/Objects/Standart/stdBoolTest.php</file>
            <file>src/Objects/Standart/stdByteTest.php</file>
            <file>src/Objects/Standart/stdDateTimeTest.php</file>
            <file>src/Objects/Standart/stdDoubleTest.php</file>
            <file>src/Objects/Standart/stdFloatTest.php</file>
            <file>src/Objects/Standart/stdIntTest.php</file>
            <file>src/Objects/Standart/stdLongTest.php</file>
            <file>src/Objects/Standart/stdRealTest.php</file>
            <file>src/Objects/Standart/stdShortTest.php</file>
            <file>src/Objects/Standart/stdStringTest.php</file>


            <file>src/Objects/Types/tpBoolTest.php</file>
            <file>src/Objects/Types/tpNumericIntegerTest.php</file>
            <file>src/Objects/Types/tpNumericFloatingTest.php</file>
            <file>src/Objects/Types/tpNumericRealTest.php</file>
            <file>src/Objects/Types/tpGeneralDateTime.php</file>
            <file>src/Objects/Types/tpStringTest.php</file>
            <file>src/Objects/Types/tpGenericTest.php</file>
            <file>src/Objects/Types/tpTypeTest.php</file>

            <file>src/Objects/Types/tpTypeArrayTest.php</file>





            <file>src/DataFormat/patterns/brasil/CNPJTest.php</file>
            <file>src/DataFormat/patterns/brasil/CPFTest.php</file>
            <file>src/DataFormat/patterns/brasil/NumberTest.php</file>
            <file>src/DataFormat/patterns/brasil/PhoneTest.php</file>
            <file>src/DataFormat/patterns/brasil/ZipCodeTest.php</file>
            <file>src/DataFormat/patterns/brasil/dates/DateTest.php</file>
            <file>src/DataFormat/patterns/brasil/dates/DateTimeTest.php</file>
            <file>src/DataFormat/patterns/brasil/dates/MonthTest.php</file>
            <file>src/DataFormat/patterns/brasil/dates/WeekTest.php</file>

            <file>src/DataFormat/patterns/eua/NumberTest.php</file>
            <file>src/DataFormat/patterns/eua/PhoneTest.php</file>
            <file>src/DataFormat/patterns/eua/ZipCodeTest.php</file>
            <file>src/DataFormat/patterns/eua/dates/DateTest.php</file>
            <file>src/DataFormat/patterns/eua/dates/DateTimeTest.php</file>

            <file>src/DataFormat/patterns/world/ColorTest.php</file>
            <file>src/DataFormat/patterns/world/EmailTest.php</file>
            <file>src/DataFormat/patterns/world/LocaleTest.php</file>
            <file>src/DataFormat/patterns/world/NumberTest.php</file>
            <file>src/DataFormat/patterns/world/PasswordTest.php</file>
            <file>src/DataFormat/patterns/world/URLTest.php</file>
            <file>src/DataFormat/patterns/world/dates/DateTest.php</file>
            <file>src/DataFormat/patterns/world/dates/DateTimeTest.php</file>
            <file>src/DataFormat/patterns/world/dates/DateTimeGlobalZoneTest.php</file>
            <file>src/DataFormat/patterns/world/dates/DateTimeLocalTest.php</file>
            <file>src/DataFormat/patterns/world/dates/MonthTest.php</file>
            <file>src/DataFormat/patterns/world/dates/TimeTest.php</file>
            <file>src/DataFormat/patterns/world/dates/WeekTest.php</file>



            <!--
                próximo passo:
                - as interfaces "collection" morrerão mas ainda precisam
                  constar até que "data model" seja redefinido para o uso
                  dos tipos definidos por último

                - trazer de volta o "data format"
            -->
            <!--file>src/Collection/BasicCollectionTest.php</file>
            <file>src/Collection/ProtectedCollectionTest.php</file>
            <file>src/Collection/AppendOnlyCollectionTest.php</file>
            <file>src/Collection/ReadOnlyCollectionTest.php</file>
            <file>src/Collection/CaseInsensitiveCollectionTest.php</file>
            <file>src/Collection/CollectionTest.php</file>
            <file>src/Collection/TypeListTest.php</file>





            <file>src/DataModel/t01FieldTest.php</file>
            <file>src/DataModel/t02FieldCollectionTest.php</file>
            <file>src/DataModel/t03ModelTest.php</file>
            <file>src/DataModel/t04ModelFactory_SimpleFieldsTest.php</file>
            <file>src/DataModel/t05FieldModelTest.php</file>
            <file>src/DataModel/t06FieldModelCollectionTest.php</file>
            <file>src/DataModel/t07ComplexFieldModelCollectionTest.php</file-->
        </testsuite>
    </testsuites>
    <filter>
       <whitelist processUncoveredFilesFromWhitelist="true">
            <!--
                Defina aqui cada diretório de projeto que será
                avaliado em um teste de cobertura.
            -->
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
